@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Century Gothic", Futura, sans-serif;
}

.board {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  background: transparent;
  color: #FFF;
  border: 1px solid #999;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  border: 2px solid #2c3e50;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square.winner {
  background-color: #DF73FF;
}
