html, body {
  font-family: Helvetica,Arial, sans-serif;
  margin: 0%;
}

.board {
  width: 40vw;
  height: 40vw;
  min-width: 200px;
  min-height: 200px;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgb(5, 20, 0),#0e3d29);
  color: #fff;
  border: 1vw solid #2c3e50;
  border-radius: 9px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5vw;
  transform: skewX(1deg);
  	transform-style: preserve-3d;
	transform: rotate3d(-.1, .2, -.035, 7deg)	rotate(90deg) translateZ(10vw);
  filter: blur(0.5px);
}

.square {
  background: transparent;
  color: rgb(255, 255, 178);
  
  /* border: 1px solid #999; */
  font-size: max(5vw,1.7rem);
  font-weight: bold;
  text-align: center;
  border: 2px solid #2c3e50;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  filter: blur(0.5px);
  cursor: pointer;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}


.square:focus {
  outline: none;
  border: 2px solid rgb(34, 79, 83);
}

 .square:hover {
  background: rgb(29, 141, 119);
}

.buttonList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.buttonList button {
  border-radius: 6px;
  cursor: pointer;
  min-height: 33px;
  height: 7.5vw;
  min-width: 135px ;
  width: 45vw;
  color: rgb(2, 16, 11);
  font-weight: bold;
  font-size: max(4vw,1rem);
  background: linear-gradient(rgb(32, 60, 40),rgb(18, 187, 162));
}
.buttonList button:hover {
  color: rgb(15, 71, 51);
  background: linear-gradient(rgb(48, 96, 62),rgb(18, 187, 162))
}
footer{
  color: #120;
  background: linear-gradient(rgb(71, 141, 91),rgb(18, 187, 162));
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
}
footer a{
  font-style: italic;
}
.status{
  font-weight: bold;
  font-size: max(5vw,1rem);
}
.game section{
  max-width: 1200px;
  margin: auto;
}
.game{
  padding: 1vh;
  margin: 0%;
  /* background-image: linear-gradient(-45deg, #870000, #190a05); */
  background-image: linear-gradient(to right, #273532, rgb(7, 11, 9));
}
.game>section {
  height: calc(98vh);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-wrap: wrap;
flex-direction: column;
gap: 20px;
color: #2b8e63;
font-weight: 800;
font-family: 'Monoton', cursive;
opacity: 0.93;
text-shadow: -0.15vw -0.1vw 0.2vw rgba(0, 255, 115, 0.902);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e6db00, 0 0 40px #e6bc00, 0 0 50px #e6d700, 0 0 60px #e6b400, 0 0 70px #e6bc00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffe14d, 0 0 40px #ffca4d, 0 0 50px #ffe74d, 0 0 60px #ffe14d, 0 0 70px #fff64d, 0 0 80px #ffd84d;
  }
}





@media screen and (min-width:1208px) {
  .board {
    width: 30vw;
    height: 30vw;
    border-radius: 16px;
    gap: 0.3vw;
  }
  
  .square:focus {
    outline: none;
    border: 3px solid rgb(34, 79, 83);
  }
  
   .square:hover {
    background: rgb(38, 236, 197);
  }
  
  .buttonList {
    gap: 9px;
  }
  .buttonList button {
    border-radius: 9px;
    height: 4vw;
    min-height: 60px;
    width: 25vw;
    max-width: 320px;
    font-size: max(2vw,2.3rem);
  }  
  .status{
    font-weight: bold;
    font-size: max(4vw,1rem);
  }
  .game section{
    max-width: 1500px;
    margin: auto;
    justify-content: space-around;
  }
  .game>section {
  flex-direction: row;
  gap: 4.5vw;
  }
}